extends layouts/main
include mixins/videoPlayer

block content 
    +videoPlayer({
        src:video.fileUrl
    })
    .video__info
        if video.creator.id === (loggedUser && loggedUser.id)
            a.video__edit-btn(href=routes.editVideo(video.id),controls="true") Edit Video
        h5.video__title=video.title
        span.video__views 조회수 #{video.views} 회
         .video__author
            img(src=video.creator.avatarUrl)
            .video__author__column    
                a(href=routes.userDetail(video.creator.id))=video.creator.name
                p.video__description=video.description
    .video__comments
        if video.comments.length === 1
            span.video__comment-number 1 comment
        else
            span.video__comment-number #{video.comments.length} comments
        form.add__comment#jsAddComment
            input(type="text", placeholder="Add a comment")
        ul.video__comments-list#jsCommentList
            each comment in video.comments.reverse()
                li.video__comment
                    a.video__comment__user(href=routes.userDetail(comment.creator.id))
                        img.video__comment__avatar(src=comment.creator.avatarUrl)
                    .video__comment__column    
                        span.video__comment__name=comment.creator.name
                        span.video__comment__text=comment.text